body {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0;
    display: grid;
    grid-template-columns: 20% 60%;
    grid-auto-rows: minmax(70px, auto);
    justify-content: center;
    align-items: center;
    margin: 100px 0px 0px 100px;
    width: 700px;
    min-height: 400px;
    box-shadow: 2px 2px 3px 1px rgba(196, 188, 188, 0.75);
}

.list {
    padding: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    list-style-type: none;
}

.skill {
    background-color: rgb(252, 233, 233);
    text-align: center;
    border-radius: 15px;
    height: 25px;
    width: 60px;
    font-size: 15px;
    padding-top: 5px;
    color: black;
}

.link1,
.link2 {
    text-decoration: none;
    color: rgb(142, 12, 182);
}

a:hover {
    color: rgb(13, 15, 102);
}

.link1 {
    background: url('../img/tg.svg') no-repeat;
    background-position: left;
    background-size: contain;
    padding-left: 23px;
}

.link2 {
    background: url('../img/post.svg') no-repeat;
    background-position: left;
    background-size: contain;
    padding-left: 23px;
    margin-left: 25px;
}

@media (max-width: 800px) {
    .container {
        margin: 0;
    }
}

@media (max-width: 650px) {
    .link1,
    .link2 {
        margin-left: 30px;
    }
    .container {
        font-size: 14px;
        width: auto;
    }
}

@media (max-width: 600px) {
    .description {
        padding: 0 20px;
    }
    .list {
        margin: 0 30px;
    }
    li.skill {
        margin: 0 10px;
    }
}

@media (max-width: 500px) {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

@media (max-width: 400px) {
    .list {
        margin-left: 80px;
        grid-row-gap: 10px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .headline {
        text-align: center;
    }
}

@media (max-width: 350px) {
    .list {
        margin-left: 50px;
    }
}