body {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
}

.container {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    display: grid;
    grid-template-columns: 20% 60%;
    grid-auto-rows: minmax(70px, auto);
    justify-content: center;
    align-items: start;
    grid-gap: 20px;
    margin: 100px 0px 0px 100px;
    width: 1000px;
    min-height: 400px;
    box-shadow: 2px 4px 10px 1px rgba(196, 188, 188, 0.75);
    padding-top: 50px;
}

.list {
    padding: 7px 20px 0px 0px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: -50px;
    list-style-type: none;
    padding-bottom: 40px;
    width: 350px;
    margin: 0;
}

.skill {
    background-color: rgb(243, 243, 243);
    text-align: center;
    display: block;
    vertical-align: middle;
    border-radius: 15px;
    height: 25px;
    width: 60px;
    font-size: 15px;
    padding-top: 8px;
    color: rgb(0, 0, 0);
}

.headline {
    font-weight: 700;
    font-size: 36px;
    white-space: nowrap;
    color: rgb(32, 32, 32);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.links {
    margin: 0;
    padding-top: 13px;
    color: rgb(45, 34, 145);
}

.link1,
.link2 {
    text-decoration: none;
    color: rgb(45, 34, 145);
}

a:hover {
    color: rgb(13, 15, 102);
}

.link1 {
    background: url('../img/tg.svg') no-repeat;
    background-position: left;
    background-size: contain;
    padding-left: 26px;
}

.link2 {
    background: url('../img/post.svg') no-repeat;
    background-position: left;
    background-size: contain;
    padding-left: 26px;
    margin-left: 25px;
}

.description {
    margin: 0;
    padding-top: 10px;
}

@media (max-width: 1200px) {
    .container {
        margin: 0;
        width: auto;
    }
}

@media (max-width: 650px) {
    .link1,
    .link2 {
        margin-left: 30px;
    }
    .container {
        font-size: 14px;
        width: auto;
    }
}

@media (max-width: 600px) {
    .description {
        padding: 0 20px;
    }
    .list {
        margin: 0 30px;
    }
    li.skill {
        margin: 0 10px;
    }
}

@media (max-width: 500px) {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

@media (max-width: 400px) {
    .list {
        margin-left: 80px;
        grid-row-gap: 10px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .headline {
        text-align: center;
    }
}

@media (max-width: 350px) {
    .list {
        margin-left: 50px;
    }
}