body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 70px 70px 70px 100px;
    padding: 50px 50px;
    box-shadow: 2px 4px 10px 1px rgba(196, 188, 188, 0.75);
}

.skills,
.contacts {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    margin-top: 35px;
    align-items: center;
}

.about-me {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    align-items: baseline;
}

.headline {
    font-weight: 700;
    font-size: 36px;
    color: rgb(32, 32, 32);
    font-family: 'Montserrat', sans-serif;
    width: 25%;
    margin: 0;
}

.description {
    width: 80%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.description-item {
    padding-top: 10px;
}

.skills-items {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skill {
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    font-size: 15px;
    padding: 8px 15px;
    color: rgb(0, 0, 0);
    margin-right: 20px;
}

a:hover {
    color: rgb(13, 15, 102);
}

.links {
    width: 80%;
    color: rgb(45, 34, 145);
}

.link {
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 26px;
    text-decoration: none;
    color: rgb(45, 34, 145);
}

.link_tg {
    background-image: url('../img/tg.svg');
}

.link_mail {
    background-image: url('../img/post.svg');
    margin-left: 25px;
}